{{#each texts}}
  <tr data-code="{{code}}">
    <td data-code="{{code}}">{{#if ../categoryCode}}{{{nvl code_highlight code}}}{{else}}{{code}}{{/if}}
      <i class="material-icons right red-text only-hover copy dropdown-button" data-activates='source-code-dropdown-{{code}}'>content_copy</i>
      <ul id='source-code-dropdown-{{code}}' class='dropdown-content source-code'>
        <li><a href="javascript:void(0);"><span>{{code}}</span></a></li>
        <li class="divider"></li>
        <li><a href="javascript:void(0);"><div class="chip">Javascript</div> <span>{{codeSnippetJavascript}}</span></a></li>
        <li><a href="javascript:void(0);"><div class="chip">Handlebars</div> <span>{{codeSnippetHandlebars}}</span></a></li>
        <li><a href="javascript:void(0);"><div class="chip">JSP</div> <span>{{codeSnippetJsp}}</span></a></li>
        <li><a href="javascript:void(0);"><div class="chip">Java</div> <span>{{codeSnippetJava}}</span></a></li>
        <li><a href="javascript:void(0);"><div class="chip">Java Exception</div> <span>{{codeSnippetJavaexception}}</span></a></li>
      </ul>
    </td>
    <td>{{referenceCount}}</td>
    <td data-locale="en_US"><span class="text">{{#if ../categoryText}}{{{nvl textEn_highlight textEn}}}{{else}}{{textEn}}{{/if}}</span><i class="material-icons right red-text only-hover edit">create</i></td>
    <td data-locale="ko_KR"><span class="text">{{#if ../categoryText}}{{{nvl textKo_highlight textKo}}}{{else}}{{textKo}}{{/if}}</span><i class="material-icons right red-text only-hover edit">create</i></td>
    <td data-locale="zh_CN"><span class="text tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{{textZhInKo}}}">{{#if ../categoryText}}{{{nvl textZh_highlight textZh}}}{{else}}{{textZh}}{{/if}}</span><i class="material-icons right red-text only-hover edit">create</i></td>
  </tr>
{{else}}
  <tr>
    <td colspan="5" class="center-align no-data">
      <h5>no data to show.</h5>
      <h5><a class="waves-effect waves-light btn-large" href="javascript:void(0);" id="btnEmptyNewcode">+ new code</a></h5>
    </td>
  </tr>
{{/each}}
{{#if seeall}}
  <tr>
    <td colspan="5" class="center-align more-data">
      <h5>there are more data.</h5>
      <h5><a class="waves-effect waves-light btn-large" href="javascript:void(0);" id="btnSeeall">See all</a></h5>
    </td>
  </tr>
{{/if}}