{{#each texts}}
  <tr data-code="{{code}}">
    <td data-code="{{code}}">{{{nvl code_highlight code}}}
      <i class="material-icons right red-text only-hover copy dropdown-button" data-activates='source-code-dropdown-{{code}}'>content_copy</i>
      <ul id='source-code-dropdown-{{code}}' class='dropdown-content source-code'>
        <li><a href="javscript:void(0);">{{code}}</a></li>
        <li class="divider"></li>
        <li><a href="javscript:void(0);"><div class="chip">Javascript</div> <span>Lang2am.text("{{code}}")/* {{textEn}} */</span></a></li>
        <li><a href="javscript:void(0);"><div class="chip">JSP</div> <span>&lt;Lang2am:text code="{{code}}" /&gt;&lt;%-- {{textEn}} --%&gt;</span></a></li>
        <li><a href="javscript:void(0);"><div class="chip">Java</div> <span>Lang2am.text("{{code}}")/* {{textEn}} */</span></a></li>
        <li><a href="javscript:void(0);"><div class="chip">Java</div> <span>throw new RuntimeException(Lang2am.text("{{code}}"));  // {{textEn}}</span></a></li>
      </ul>
    </td>
    <td>{{referenceCount}}</td>
    <td data-locale="en_US"><span class="text">{{{nvl textEn_highlight textEn}}}</span><i class="material-icons right red-text only-hover edit">create</i></td>
    <td data-locale="ko_KR"><span class="text">{{{nvl textKo_highlight textKo}}}</span><i class="material-icons right red-text only-hover edit">create</i></td>
    <td data-locale="zh_CN"><span class="text">{{{nvl textZh_highlight textZh}}}</span><i class="material-icons right red-text only-hover edit">create</i></td>
  </tr>
{{else}}
  <tr>
    <td colspan="5" class="center-align no-data">
      <h5>no data to show.</h5>
      <h5><a class="waves-effect waves-light btn-large" href="#" id="btnEmptyNewcode">+ new code</a></h5>
    </td>
  </tr>
{{/each}}