{{#each texts}}
  <tr data-code="{{code}}">
    <td data-code="{{code}}">{{{nvl code_highlight code}}}<i class="material-icons right red-text only-hover copy">content_copy</i></td>
    <td>{{referenceCount}}</td>
    <td data-locale="en_US"><span class="text">{{{nvl textEn_highlight textEn}}}</span><i class="material-icons right red-text only-hover edit">create</i></td>
    <td data-locale="ko_KR"><span class="text">{{{nvl textKo_highlight textKo}}}</span><i class="material-icons right red-text only-hover edit">create</i></td>
    <td data-locale="zh_CN"><span class="text">{{{nvl textZh_highlight textZh}}}</span><i class="material-icons right red-text only-hover edit">create</i></td>
  </tr>
{{else}}
  <tr>
    <td colspan="5">
    <a class="waves-effect waves-light btn-large"><i class="material-icons right">cloud</i>new code</a>
    </td>
  </tr>
{{/each}}