<ul class="collection with-header hoverable">
    <li class="collection-header"><h5>{{code}}<span class="badge">{{referenceCount}}</span></h5></li>
    <li class="collection-item locale-english">{{{highlight textEn query}}}</li>
    <li class="collection-item locale-korean">{{{highlight textKo query}}}</li>
    <li class="collection-item locale-chinese">{{{highlight textZh query}}}</li>
</ul>