{{#each texts}}
  <tr data-code="{{code}}">
    <td data-code="{{code}}">{{{nvl code_highlight code}}}<i class="material-icons right red-text only-hover copy">content_copy</i></td>
    <td>{{referenceCount}}</td>
    <td>{{{nvl textEn_highlight textEn}}}<i class="material-icons right red-text only-hover edit">create</i></td>
    <td>{{{nvl textKo_highlight textKo}}}<i class="material-icons right red-text only-hover edit">create</i></td>
    <td>{{{nvl textZh_highlight textZh}}}<i class="material-icons right red-text only-hover edit">create</i></td>
  </tr>
{{else}}
  <tr>
    <td colspan="5">
    <a class="waves-effect waves-light btn-large"><i class="material-icons right">cloud</i>new code</a>
    </td>
  </tr>
{{/each}}